@font-face {
    font-family: "bully";
    src: url(public/fonts/Bully/Bully.otf);
}
@font-face {
    font-family: "bravo";
    src: url(public/fonts/Bravo/BravoSC.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-size: 10px;
}
:root {
    --main-blue-color: rgb(48, 89, 225);
    --main-font: "bravo";
}

.grey-frame {
    background-color: #dadce0;
    border-radius: 2rem;
}
.hidden-element {
    display: none;
}

nav {
    position: fixed;
    display: inline-block;
    z-index: 3;
    width: max-content;
    height: 4.5rem;
    top: 0;
    right: 0;
    font-family: "Advent Pro", sans-serif;
    font-size: 3rem;
    color: var(--main-blue-color);
    & ul {
        list-style: none;
        & li {
            float: left;
            padding: 0.6rem 0.6rem;
            background-color: rgb(255, 255, 255);
            border-bottom: thin solid;
            border-color: rgb(29, 29, 189);
            cursor: pointer;
            &:hover {
                background-color: rgb(29, 29, 189);
                color: white;
            }
        }
    }
}
.first-in-the-line {
    border-radius: 0 0 0 20%;
    border-left: thin solid;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70rem;
    background: linear-gradient(to top, var(--main-blue-color), rgb(85, 143, 236));

    --black-opacity: 0;
    &::before {
        position: inherit;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: var(--black-opacity);
        content: "";
    }
}
.header-title {
    position: absolute;
    display: inline-block;
    top: 30rem;
    left: 10rem;
    font-family: "bully";
    font-style: italic;
    color: white;
    font-size: 12rem;
    letter-spacing: 0.5rem;
    transition: all 1s ease;

    transform: translateX(-2rem);
    opacity: 0;
}
.header-title_appeared {
    transform: translateX(0);
    opacity: 1;
}

main {
    position: relative;
    top: 70rem;
    width: 100%;
    height: max-content;
    background-color: #e8ebed;
}
section {
    margin: 1rem 0;
}
.text_center {
    font-family: var(--main-font);
    font-size: 3.5rem;
    text-align: center;
}
.text_left {
    font-family: var(--main-font);
    font-size: 3.5rem;
}
.text_header {
    font-family: "Advent Pro", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-align: center;
}
.text_header_left {
    font-family: "Advent Pro", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
}
.bottom-line {
    border-bottom: 0.5rem solid var(--main-blue-color);
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}
.main-content__about {
    margin-top: 2rem;
    padding: 0.5rem;
    width: 90%;
}
.main-content__service-list_container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.main-content__service-list {
    padding: 1rem 2rem;
    width: 34%;
    height: max-content;
    & ul {
        list-style: none;
        & li {
            border-top: 0.2rem solid;
            border-color: var(--main-blue-color);
        }
    }
}
.main-content__service-list-header {
    border-top: 1rem solid;
    border-bottom: 1rem solid;
    border-color: var(--main-blue-color);
}
.main-content__cases {
    padding: 1rem 2rem;
    width: 90%;
    margin-left: 3rem;
}
.main-content__cases_container {
    margin-top: 1rem;
    list-style: none;
}
.main-content__cases_item {
    margin: 1rem 0;
}
.main-content__why-we {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.main-content__benefits {
    width: 40%;
    padding: 1rem 2rem;
}
.main-content__benefits_container {
    list-style: none;
}
.main-content__benefits_item {
    border-top: 0.2rem solid;
    border-color: var(--main-blue-color);
}
.main-content__araes-of-law {
    width: 50%;
    padding: 1rem 2rem; 
}
.main-content__araes-of-law_container {
    list-style: none;
}